<div class="page-header">
  <i class="fa fa-users page-header-icon"></i>
  <h1>Editar Funcionário</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', @employee %> |
<%= link_to 'Back', employees_path %>
