@charset'utf-8';
@import"bootstrap-sprockets";
@import"bootstrap";
@import"pixel-admin";
@import"pixel-admin-scss/rtl/rtl";
@import"pixel-admin-scss/themes/themes";
@import"pixel-admin-scss/pages/pages";

#mapTrack {
    height: 100%;
    margin: 0;
    padding: 0;
}

#qrCode  {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
}
#qrCode td {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
    width: 10px;
    height: 10px;
}
#qrCode td.black {
    background-color: #000;
}
#qrCode td.white {
    background-color: #fff;
}
